/* @import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap"); */
p {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  /* font-style: italic; */
  font-size: xxx-large;
  line-height: 50px;
  text-transform: lowercase;
  /* text-indent: 100px; */
  text-overflow: clip;
  overflow: hidden;
  /* text-overflow: ; */
  width: 1500px;
  border: 2px red solid;
  word-break:keep-all;
  text-align: center;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 500px;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: aqua;
  text-overflow: clip;
}
